{% set grid_size = theme_var('grid-size') %}
<section class="section {{ page.header.class}}">
    <section class="container {{ grid_size }}">
        <div class="text-block text-center">
            {{ content|raw }}
        </div>
        <div class="team-list">
            {% for member in page.header.team %}
                <div class="member">
                    <div class="img-block" style="background-image:url({{ member.imgLink }});">
{#                        <img src="{{ member.imgLink }}" alt="">#}
                    </div>
                    <div class="text-center">
                        <div class="name">{{ member.name }}</div>
                        <div class="role">{{ member.role }}</div>
                    </div>
                    <div class="hover-block">
                        {% for link in member.links %}
                            <a target="_blank" class="zoom {{ link.icon }}" href="{{ link.link }}"></a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="btn-block text-center">
            <a href="" class="show-members btn btn-transparent">
                <span class="text">Show all</span>
                <span class="hide">Show less</span>
            </a>
        </div>
    </section>
</section>
