{% set body_classes = body_class(['header-fixed', 'header-animated', 'header-dark', 'header-transparent', 'sticky-footer']) %}
{% set grid_size = theme_var('grid-size') %}
{% set compress = theme_var('production-mode') ? '.min.css' : '.css' %}
{% use 'blocks/base.html.twig' %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
{% block head deferred %}
    <meta charset="utf-8" />
    <title>{% if page.title and page.title != '-' %}{{ page.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

{#    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />#}
    <link rel="apple-touch-icon" sizes="57x57" href="{{ url('theme://images/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url('theme://images/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url('theme://images/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url('theme://images/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url('theme://images/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url('theme://images/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url('theme://images/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url('theme://images/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url('theme://images/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ url('theme://images/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url('theme://images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url('theme://images/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url('theme://images/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url('theme://images/manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ url('theme://images/ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">
    <link rel="canonical" href="{{ page.url(true, true) }}" />
{% endblock head %}

{% block stylesheets %}
    {% do assets.addCss('theme://css-compiled/spectre'~compress) %}
    {% if theme_var('spectre.exp') %}{% do assets.addCss('theme://css-compiled/spectre-exp'~compress)  %}{% endif %}
    {% if theme_var('spectre.icons') %}{%  do assets.addCss('theme://css-compiled/spectre-icons'~compress) %}{% endif %}
    {% do assets.addCss('theme://css-compiled/theme'~compress) %}
    {% do assets.addCss('theme://css/custom.css') %}
    {% do assets.addCss('theme://css/line-awesome.min.css') %}
    {% do assets.addCss('theme://css/swiper.min.css') %}
{% endblock %}

{% block javascripts %}
    {% do assets.addJs('jquery', 101) %}
    {% do assets.addJs('theme://js/jquery.treemenu.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://js/site.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://js/swiper.min.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://js/textcoin.js', {group:'bottom'}) %}
{% endblock %}

{% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
{% endblock %}
</head>
<body id="top" class="{% block body_classes %}{{ body_classes }}{% endblock %}">
    {% include 'partials/textcoin.html.twig' %}
    <div id="page-wrapper">
    {% block header %}
        <section id="header" class="section">
            <section class="container {{ grid_size }}">
                <nav class="navbar flex-centered">
                    <section class="navbar-section logo">
                        {% include 'partials/logo.html.twig' %}
                    </section>
                    <section class="navbar-section desktop-menu">
                        <div class="d-flex flex-centered">
                            <nav class="dropmenu animated">
                                {% block header_navigation %}
                                    {% include 'partials/navigation.html.twig' %}
                                {% endblock %}
                            </nav>
                            {% include 'partials/lang-prefix.html.twig' %}
                            <a href="#download" class="btn btn-default">Download wallet</a>
                        </div>

                        {% if config.plugins.login.enabled and grav.user.username %}
                            <span class="login-status-wrapper"><i class="fa fa-user"></i> {% include 'partials/login-status.html.twig' %}</span>
                        {% endif %}
                    </section>
                </nav>
            </section>
        </section>
        <div class="mobile-menu">
            <div class="button_container" id="toggle">
                <span class="top"></span>
                <span class="middle"></span>
                <span class="bottom"></span>
            </div>
        </div>
    {% endblock %}

    {% block hero %}{% endblock %}
        <section id="start">
        {% block body %}
            <section class="section">
                <section class="container {{ grid_size }}">
                    {% block messages %}
                        {% include 'partials/messages.html.twig' ignore missing %}
                    {% endblock %}
                    {{ block('content_surround') }}
                </section>
            </section>
        {% endblock %}
        </section>

    </div>

    {% block footer %}
        {% include 'partials/footer.html.twig' %}
    {% endblock %}

    {% block mobile %}
    <div class="mobile-container">
        <div class="overlay" id="overlay">
            <div class="mobile-logo">
                {% include 'partials/logo.html.twig' with {mobile: true} %}
            </div>
            <div class="overlay-menu-wrap">
                <nav class="overlay-menu">
                    {% include 'partials/navigation.html.twig' with {tree: true} %}
                </nav>
                <div class="d-flex flex-column align-items-center">
                    <a href="#download" class="btn btn-default">Download wallet</a>

                    <ul class="other-menu">
                        <li><a href="">About Us</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="">Blog</a></li>
                    </ul>
                    <div class="lang-block mobile-lang">
                        <a href="" class="current-lang">EN</a>
                    </div>
                    <div class="copyright-block">
                        <div class="text">© 2020 Obyte. All Rights Reserved</div>
                    </div>
                </div>
            </div>
            <div class="lang-options-wrap d-none">
                <a href="" class="back">Back</a>
                <ul class="lang-list">
                    <li><a href="" class="active">English</a></li>
                    <li><a href="">العربية</a></li>
                    <li><a href="">Dansk</a></li>
                    <li><a href="">Deutsch</a></li>
                    <li><a href="">Ελληνικά</a></li>
                    <li><a href="">Español</a></li>
                    <li><a href="">Русский</a></li>
                    <li><a href="">Français</a></li>
                    <li><a href="">Indonesia</a></li>
                    <li><a href="">Italiano</a></li>
                    <li><a href="">日本語</a></li>
                    <li><a href="">한국어</a></li>
                    <li><a href="">Nederlands</a></li>
                    <li><a href="">中文</a></li>
                </ul>
            </div>
        </div>
    </div>
    {% endblock %}

{% block bottom %}
    {{ assets.js('bottom')|raw }}
{% endblock %}

</body>
</html>
