<section id="{{ id }}" class="section modular-hero hero {{ page.header.hero_classes }} {{ page.header.background.parallax ? 'parallax' : '' }}" {% if hero_image %}style="background-image: url('{{ hero_image.url }}');"{% endif %}>
    <div class="image-overlay"></div>
    <section class="container {{ grid_size }}">
        <div class="flex-block d-flex justify-content-between">
            <div class="text-block text-left">
                {{ content | raw }}
                <div class="btn-block">
                    <a href="" class="btn">Download wallet</a>
                </div>
            </div>
            <div class="img-block">
                <svg>
                    <title>Obyte</title>
                    <g id="scene-1">
                        <image xlink:href="../../user/themes/obyte/assets/animation/scene1.svg" />
                    </g>
                    <animateTransform
                            attributeName="transform"
                            attributeType="XML"
                            xlink:href="#scene-1"
                            type="translate"
                            from="0, 0"
                            to="0, -600"
                            begin="13s"
                            dur="0.5s"
                            fill="freeze"
                    />
                </svg>
{#                <img src="{{ url('theme://assets/hero-image.png') }}" alt="">#}
            </div>
        </div>
    </section>
{#    <i id="to-start" class="pulse fa fa-angle-down"></i> #}
</section>
