<section id="{{ id }}" class="section modular-hero hero {{ page.header.hero_classes }} {{ page.header.background.parallax ? 'parallax' : '' }}" {% if hero_image %}style="background-image: url('{{ hero_image.url }}');"{% endif %}>
    <div class="image-overlay"></div>
    <section class="container {{ grid_size }}">
        <div class="flex-block d-flex justify-content-between">
            <div class="text-block text-left">
                {{ content | raw }}
                <div class="btn-block">
                    <a href="" class="btn">Download wallet</a>
                </div>
            </div>
            <div class="clip-container">
                {% for scene in page.header.animation %}
                    <div class="scene-block {{scene.class}}">
                        <object type="image/svg+xml" data="{{scene.data}}">
                            <img src="{{ page.header.animationImage }}" alt="">
                        </object>
                        <div class="content-block">
                            <div class="title-block d-flex">
                                <h2>{{ scene.title }}</h2>
                                <div class="reply-block d-flex">
                                    <div class="icon"></div>
                                    <div class="text">Replay</div>
                                </div>
                            </div>
                            <div class="step-block d-flex">
                                <div class="step">{{ loop.index }}</div>
                                <div class="text">{{ scene.text}}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{#    <i id="to-start" class="pulse fa fa-angle-down"></i> #}
</section>
