<section id="{{ id }}" class="section modular-hero hero {{ page.header.hero_classes }} {{ page.header.background.parallax ? 'parallax' : '' }}" {% if hero_image %}style="background-image: url('{{ hero_image.url }}');"{% endif %}>
    <div class="image-overlay"></div>
    <section class="container {{ grid_size }}">
        <div class="flex-block d-flex justify-content-between">
            <div class="text-block text-left">
                {{ content | raw }}
                <div class="btn-block">
                    <a href="" class="btn">Download wallet</a>
                </div>
            </div>
            <div class="img-block" id="clip-container"></div>
            <script>
            window.addEventListener('load', () => {
              const container = document.getElementById('clip-container')
              container.innerHTML = `
                <object style="pointer-events: none;" type="image/svg+xml" data="../../user/themes/obyte/assets/animation/scene1.svg">
                   <img src="{{ url('theme://assets/hero-image.png') }}" alt="">
                </object>
              `
              container.addEventListener('click', () => {
                container.innerHTML = `
                  <object style="pointer-events: none;" type="image/svg+xml" data="../../user/themes/obyte/assets/animation/scene1.svg">
                     <img src="{{ url('theme://assets/hero-image.png') }}" alt="">
                  </object>
                `
              })
            })</script>
        </div>
    </section>
{#    <i id="to-start" class="pulse fa fa-angle-down"></i> #}
</section>
